/***
Bootstrap Line Tabs by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

.content {

}

.margin-bottom-30 {
	margin-bottom: 30px;
}

/* Portlet */
.portlet {
	background: #fff;
	padding: 20px;
}

.portlet.portlet-gray {
	background: #f7f7f7;
}

.portlet.portlet-bordered {
	border: 1px solid #eee;
}

/* Portlet Title */
.portlet-title {
	padding: 0;
  	min-height: 40px;
  	border-bottom: 1px solid #eee;
  	margin-bottom: 18px;
}

.caption {
	float: left;
	display: inline-block;
	font-size: 18px;
	line-height: 40px;
}

.caption.caption-green .caption-subject,
.caption.caption-green i {
	color: #4db3a2;
	font-weight: 200;
}

.caption.caption-red .caption-subject,
.caption.caption-red i {
	color: #e26a6a;
	font-weight: 200;
}

.caption.caption-purple .caption-subject,
.caption.caption-purple i {
	color: #8775a7;
	font-weight: 400;
}

.caption i {
	color: #777;
	font-size: 15px;
	font-weight: 300;
	margin-top: 3px;
}

.caption-subject {
	color: #3c8dbc;
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
}

.caption-helper {
	padding: 0;
	margin: 0;
	line-height: 13px;
	color: #9eacb4;
	font-size: 13px;
	font-weight: 400;
}
.btn{
	margin-right: 5px;
}
/* Actions */
.actions {
	float: right;
  	display: inline-block;
}

.actions a {
	margin-left: 3px;
}

#follow h4{
	font-family: "Raleway", sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: .5px;	
}
#follow textarea{
	resize: none;
	height: 
}
#follow img{
	border:1px solid #42c7ce;
}

#follow .group{
	margin-bottom: 10px;
}

#follow  label {
	color: black;
	margin-bottom: 0;
}

#image_preview:after {
    content: 'asdasds';
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
}

#image_preview:hover:after {
    opacity: 1;
}
#follow .overlay:hover{
	opacity: 1;
    background: rgba(0, 0, 0, 0.7);
}

#follow .overlay{
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    opacity: 1;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s
}
#follow .overlay-content{
	top: 50%;
    left: 50%;
    position: absolute;
    color: white;
    transform: translate(-50%, -50%);

}
.overlay-content p{
	font-size: 13px;
	font-family: "Raleway", sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
}
/* Inputs */
.visibles{
	visibility: hidden;
}
#follow .table>tbody>tr>td{
	vertical-align: middle;
	text-align: center;
}
#follow .table>thead>tr>th{
	vertical-align: middle;
	text-align: center;
	}

.link:hover{
	cursor: pointer;
}
#follow .actions a {
	margin-left: 0
}

#follow .form-controll{
	text-transform: uppercase;
}

/*#follow label{
	color: red;
}*/

.form-group{
	margin-bottom: 0;
}

table th{
	font-family: "Raleway", sans-serif;
	text-transform: uppercase;
	letter-spacing: .5px;
	font-size: 13px;
}

table td select{
	font-family: "Raleway", sans-serif;
	text-transform: uppercase;
}

#follow .container1 {
	font-family: "Raleway", sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-left: 10px;
}