#topbar {
	padding: 0 0;
	background-color: white;
	border-bottom: 1px solid #e8e8e8;
}
.contact-info{
	color: black;
	font-size: 13px;
	letter-spacing: 1px;
}

#header {
    padding: 0;
    top: 10;
    height: 40px;
    }
.nav-menu a{
	font-weight: normal;
	text-transform: uppercase;
	font-size: 13px;
}
#intro .introcontent{
	position: absolute;
	z-index: 10;
	justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    right: 0;
    left: 0
}
#intro #intro-carousel::before {

     background-color: rgba(0, 0, 0, 0.56); 

 }

 #intro .introcontent{
 	z-index: 10000;
 }
 #intro .intro-content h2{
 	color: white;
 }
 #intro .intro-content .btn-get-started:hover{
 	color: #50d8af;
 	border: 1px solid white;
 }
 #intro .intro-content .btn-get-started {
 	background-color: transparent;
 	border: 1px solid #8bbdb9;
 	letter-spacing: 2px;
 	padding: 10px 20px 10px 20px;
 	text-shadow: 2px 3px black;
 	margin-bottom: 10px;
 }
   #intro .intro-content h2{
   	font-size: 30px;
   	margin: 10px;
   	letter-spacing :2px;
   	font-weight: normal;
   	text-shadow: 2px 3px black;
   }
  #intro .intro-content h2 span{
 	font-size: 30px;
 	color: white  !important;
 	text-decoration: none ;
 	font-weight: bold;
 	 text-shadow: 2px 3px black;
 }
 .room .form-control{
 	border: 1px solid #8bbdb9;
 }
.login{
	height: 15em;
	width: 20em;
}
.room h4{
	margin-bottom: 5px;
	letter-spacing: 1px;
	font-size: 13px;
	color: black;
	font-family: "Raleway", sans-serif;
}
.room{
	margin-top: 10px;
}
#body .room a{
	margin-top: 15px;
	padding: 10px 10px;
	border-radius: 0;
	background: #50d8af;
	color: white;
	font-family: "Raleway", sans-serif;
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 13px;
	text-transform: uppercase;
}
#body .room a:hover{
	text-shadow: none;
	color: black;
	border: 1px solid #50d8af;
}
#about{
	padding: 35px 0 45px 0;
}
#portfolio{
	
	margin-bottom: 10px;
}
#body .about_rooms{
	padding: 45px 0;
	background: #f9f9f9;
}
.head .title{
	text-align: center;
	color: #3e3b3b;
}
.title h1{
	font-weight: 400;
	font-size:35px;
	margin: 0;
	color: black;
	text-shadow: 1px 1px #bfbbbf;
}
.title hr{
	width: 10%;
	border-top: 2px solid #50d8af;
	margin-top: 10px;
}
.title p{
	margin: 0;
	font-size: 12px;
	color: #268c6d;
}
#portfolio .portfolio-item h2{
	font-weight: 400;
	letter-spacing: 1px;
    font-size: 15px;
    text-transform: uppercase;
}
#portfolio .portfolio-info{
	top: 50%;
	left: 50%
}
#portfolio .portfolio-item .price{
	color:white;
	margin-top: 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
#portfolio .portfolio-item .price span{
	font-size: 30px;
	font-weight: bold
}
#portfolio .portfolio-item img{
	height: 240px;
}
.container-fluid{
	padding: 30px 0 10px 0;
}

.title a.book{
	border-radius: 0;
	background: transparent;
	color: #055b98;
	font-family: "Raleway", sans-serif;
	letter-spacing: 1.5px;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
}
.title a.book:hover{
	color:	#232d2c;
	
}
.title i{
	font-size:30px;
	margin: 0;
	padding: 0;	
}
#what{
	padding: 45px 0;
}
#what .title{
	text-align: center;
}
#what .info{
	text-align: center;
}
.info p{
	line-height:2em;
	letter-spacing: 1px;
	font-size: 18px;
}

#body .galleries{
	padding: 45px  0 0 0;
	background: #f9f9f9;
}
.title{
	margin-bottom: 3em;
}
.galleries .title{
	text-align: center;
}
#portfolio .bottom{
	margin-bottom: 0em;
	margin-top: 10px;
}
#portfolio{
	margin-bottom: 0;
}
#portfolio .container-fluid{
	padding: 0 0 0 0;
}

#amenities{
	padding: 60px 0;
	background-color:#34394f;
}

#amenities h1{
	color: white;
}

#amenities p{
	color: white;
	/*color: #cd9540;*/
	font-family: "Open Sans", sans-serif;
	line-height: 2em;
    letter-spacing: 1px;
    font-size: 18px;
}

.icons img{
	float:left;
}

#body select.form-control:not([size]):not([multiple]) {
    height: 34px;
}
select.form-control:not([size]):not([multiple]){
	height: calc(2.25rem + 2px);
}

.room .input-group .input-group-addon{
	border-color: #8bbdb9;1
}

.room label{
	font-size: 11px;
	letter-spacing: .5px;
}
#footer{
	padding: 20px 0;
	background:white;
}
#footer .copyright{
	padding-top:0;
	text-align: center;
}
.copyright h4{
	font-family: "Raleway", sans-serif;
	font-weight: bold;
	letter-spacing: .5px;
	color: black;
	font-size: 12px;
	color: #055b98;
}
#footer .copyright p{
	color: #34394f;
	font-family: "Raleway", sans-serif;
	font-size: 12px;
	letter-spacing: 1px;
	margin-bottom: 5px;
}
.contact-info{
	font-family: "Raleway", sans-serif;
	letter-spacing: 1px;
}
#footer .copyright a{
	font-size: 30px;
	border: 1px #cddde6 solid;
	border-radius: 5px;
	padding: 10px;
}
.about_rooms p{
	font-family: "Raleway", sans-serif;
	letter-spacing: .5px;
	color: black;
	line-height: 25px;
}
.about_rooms .infos hr{
	width: 20%;
	margin: 10px auto;
	border-top: 2px solid #50d8af;
}
.infos h3{
	margin: 0;
	font-family: "Raleway", sans-serif;
	letter-spacing: .5px;
	font-size: 20px;
	color: black;
}
.infos h4{
	margin: 0;
	font-family: "Raleway", sans-serif;
	letter-spacing: 1px;
	font-size: 12px;
	font-weight: bold
}
.infos h5{
	font-family: "Raleway", sans-serif;
	letter-spacing: .5px;
	font-size: 11px;	
}
.infos_inner{
	font-size: 12px;	
	font-weight: bold;
	border:1px solid transparent;
	background: #1de2c7;
	border-radius: 5px;
	padding: 2px;
	color: white;
	text-transform: uppercase;
}
.infos{
	padding:20px 10px 40px 10px;
	background: white;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.infos_description{
	/*background: #dedede;*/
}
.infos_title{
	text-align: center;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.infos_laman p{
	text-indent: 35px;
	font-size: 13px;
	color: black;
}
.more{
	text-align: center;
	margin-top: 4em;

}
.more a{
	padding: 10px 20px;
	border:#8bbdb9 1px solid;
	background: white;
	letter-spacing: 1px;
	font-weight: bold
}
.more a:hover{
	color: blue;
	}
#body .book_room{
	background: #f9f9f9;
	padding: 40px 0;
}
.room_include button{
	padding-top: 7.5px;
	padding-bottom: 7.5px;
	border-radius: 0;
	background: white;
	color: black;
	font-family: "Raleway", sans-serif;
	letter-spacing: 1px;
	font-size: 13px;
	text-transform: uppercase;
	border:1px solid #8bbdb9;
}
.room_include a{
	padding-top: 7.5px;
	padding-bottom: 7.5px;
	border-radius: 0;
	background: white;
	color: black;
	font-family: "Raleway", sans-serif;
	letter-spacing: 1px;
	font-size: 13px;
	text-transform: uppercase;
	border:1px solid #8bbdb9;
}
.room_include h4 {
    margin-bottom: 5px;
    letter-spacing: 1px;
    font-size: 13px;
    color: black;
    font-family: "Raleway", sans-serif;
}
.room_include .input-group .input-group-addon{
	border-top:1px solid #8bbdb9;
	border-bottom:1px solid #8bbdb9;
	border-left: 1px solid #8bbdb9;
}

#body #room_book .room a {
	margin-top: 19px;
	padding: 8px 10px;
}
#body .form-group{
	margin-bottom: 0;
}	

#room_info .form-control{
border:1px solid #8bbdb9;
}
#room_info th{
	text-align: center;
	vertical-align: middle;
}
#room_info td{
	text-align: center;
	vertical-align: middle;
}
#room_info td a {
	background: #e23636;
	color: white;
	border-color:transparent;
	font-size: 11px;
}
#room_info th a {
	background: #3492af;
	color: white;
	border-color:transparent;
	font-size: 11px;
}

#room_info th {
	color: black;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: .5px;

}

#room_info td select option{
	text-transform: uppercase;
}
#body{
	padding-right: 0 !important;
}
#body #room_book #btn-rooms_count:hover{
	background: #e6e6e6;
}
.bed_room{
	padding:40px 0;
}
.room_information h3{
	margin: 0;
    font-family: "Raleway", sans-serif;
    letter-spacing: .5px;
    font-size: 25px;
    color: black;
    text-transform: uppercase;
}
.info_header{
	margin-bottom: 5px;
}
.room_information h4 {
    margin: 0;
    font-family: "Raleway", sans-serif;
    letter-spacing: 1px;
    font-size: 11px;
    font-weight: bold;
}

#room_bed .infos_inner {
    font-size: 12px;
    font-weight: bold;
    border: 1px solid transparent;
    background: #1de2c7;
    border-radius: 5px;
    padding: 2px;
    color: white;
    text-transform: uppercase;
}
.info_body h5 {
    font-family: "Raleway", sans-serif;
    letter-spacing: 1px;
    font-size: 12px;
}

.info_body p {
	margin-top: 5px;
    text-indent: 35px;
    font-size: 13px;
    color: black;
    font-family: Raleway, sans-serif;
    letter-spacing: 0.5px;
    color: black;
    line-height: 25px;
}
.info_header p {
	font-family: "Raleway", sans-serif;
    letter-spacing: .5px;
    color: black;
    line-height: 25px;
    margin-top: 5px;
    text-indent: 25px;
}
.info_header span{
	font-weight: bold;
	font-family: "Raleway", sans-serif;
	font-size: 15px;
	color: #0a635c;
}
.modal-dialog {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
}

#body .social-links a{
	font-family: "Raleway", sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
	color: black;
}
/*
#user-modal{
	text-align: center;
}*/
#user-modal, #signup-label {
	color: #50d8af ;
}
#btn-login, #btn-register, #signup {
	color: white ;
	background-color: #50d8af ;
}

.register-class {
	padding: 20px 
}
/*"Open Sans", sans-serif;*/